body 
{
    font:14px sans-serif Tahoma;
/*    padding:0;
    margin:20px;
    color:#333;
    background: white;
    margin-left: auto; 
    margin-right: auto; 
    width: 700px;*/
}
.error
{
    color: red;
}
form 
{
    margin:0;
    padding:0;
}
fieldset 
{ 
    margin:1em 0;
    border:none;
    border-top:1px solid #ccc;
}
/*
textarea
{
    border: 1px solid LightGray;
}
input
{
    border: 1px solid LightGray;
}
input:hover 
{
    border: 1px solid Gray;
    background: white;
}
textarea:hover 
{
    border: 1px solid Gray;
    background: white;
}
select
{
    color: #202020; 
    background-color: White;
    width: 200px;
}
*/

/*
input:focus,textarea:focus 
{
    background:#efefef;
    color:#000;
}
*/

form fieldset 
{
    margin-bottom: 10px;
}
form legend 
{
    padding: 0 2px;
    font-weight: bold;
}
form label 
{
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
}
form fieldset ol 
{
    margin: 0;
    padding: 0;
}
form fieldset li 
{
    list-style: disc;
    padding: 0px;
    margin: 0;
}
form fieldset fieldset 
{
    border: none;
    margin: 3px 0 0;
}
form fieldset fieldset legend 
{
    padding: 0 0 5px;
    font-weight: normal;
}
form fieldset fieldset label 
{
    display: block;
    width: auto;
}
form em 
{
    font-weight: bold;
    font-style: normal;
    color: #f00;
}
form label 
{
    width: 150px; /* Width of labels */
}
form fieldset fieldset label 
{
    margin-left: 153px; /* Width plus 3 (html space) */
}
